/autoload
/bundle
.netrwhist
/swap
/colors
/spell

# Coc
/coc/*
!/coc/extensions
/coc/extensions/*
!/coc/extensions/package.json
!/coc/extensions/yarn.lock
!/coc/extensions/.snyk

/sessions

# Config secrets
/secrets.vim

